
.azul, .area-esquerda2, .area-esquerda3, .area-direita4, .area-direita5 {background: blue;}
.esquerda, .area-principal, .area-esquerda2, .area-esquerda3, .area-direita4 {float: left;}
.margem5, .area-esquerda2, .area-esquerda3, .area-direita4, .area-direita5 {margin: 5px;}

.area-principal{
     width: 50%;
     height: 600px;
     background: pink;
}

.area-esquerda2{
     width: 96%;
     height: 100px;
}

.area-esquerda3{
     width: 96%;
     height: 360px;
}

.area-direita4{
     width: 65%;
     height: 300px;
}

.area-direita5{
     width: 96.5%;
     height: 285px;
     clear: both;
}

#largura1{
     width: 30%
}

#altura1{
     height: 70px;
}

#margem1{
     padding-top: 40px;
     padding-bottom: 2px;
     height: 557.5px;
}
